 .footer{
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px 30px;
}

.top-footer-content{
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.footer-logo{
  display: flex;
  width: 20%;
  justify-content: center;
  align-items: center;
}

.footer-logo img{
  max-width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-nav{
  display: flex;
  width: 70%;
  align-items: center;
  justify-content: center;
}

.footer-nav ul{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 70%;
}

.footer-nav ul li{
  color: #ffff;
}

.footer-icons{
  display: flex;
  width: 20%;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

.icon{
  background-color: #66bbff;
  margin-right: 20px;
  border: none;
  border-radius: 50%;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: ease 0.3s;
}

.icon:hover{
  background-color: #389def;
}

.divider{
  width: 90%;
  margin-top: 20px;
  display: flex;
  opacity: .5;
  padding: 0px 70px !important;
  border: 1px solid grey;
}

.footer-text{
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 20px 70px;
}

.footer-text p{
  font-size: 1rem;
  opacity: .8;
}


/* RESPONSIVENESS */
@media (max-width: 468px){
  .footer{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 30px;
  }
  
  .top-footer-content{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
  }
  
  .footer-logo{
    display: flex;
    width: 20%;
    justify-content: center;
    align-items: center;
  }
  
  .footer-logo img{
    max-width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .footer-nav{
    display: flex;
    width: 70%;
    align-items: center;
    justify-content: center;
  }
  
  .footer-nav ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 70%;
  }
  
  .footer-nav ul li{
    color: #ffff;
  }
  
  .footer-icons{
    display: flex;
    width: 20%;
    justify-content: center;
    align-items: center;
    background-color: transparent;
  }
  
  .icon{
    background-color: #66bbff;
    margin-right: 20px;
    border: none;
    border-radius: 50%;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: ease 0.3s;
  }
  
  .icon:hover{
    background-color: #389def;
  }
  
  .divider{
    width: 90%;
    margin-top: 20px;
    display: flex;
    opacity: .5;
    padding: 0px 70px !important;
    border: 1px solid grey;
  }
  
  .footer-text{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 20px 70px;
  }
  
  .footer-text p{
    font-size: 1rem;
    opacity: .8;
  }
  
}
