 .footer{
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;
}

.top-footer-content{
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.footer-logo{
  display: flex;
  width: 20%;
  justify-content: center;
  align-items: center;
}

.footer-logo img{
  max-width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-nav{
  display: flex;
  width: 70%;
  align-items: center;
  justify-content: center;
}

.footer-nav ul{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 70%;
}

.footer-nav ul li{
  color: #ffff;
}

.footer-icons{
  display: flex;
  width: 30%;
  align-items: center;
  justify-content: center;
  margin-left: 50px;
}

.divider{
  width: 90%;
  margin-top: 20px;
  display: flex;
  opacity: .5;
  padding: 0px 70px !important;
  border: 1px solid grey;
}

.footer-text{
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 20px 70px;
}


/* RESPONSIVENESS */
@media (max-width: 468px){
  
  
}
